header {
    text-align: center;
    color: white;
    background-color: rgb(64, 22, 180);    
}
#side-bar{
    margin: 10px;
    
}
#details{
    justify-content: flex-start;
}
footer{
    background-color: black;
    color: ghostwhite;
    text-align: center;
    position: fixed;
}
#fdt{
    text-align: center;
}
#days{
    justify-content: space-evenly;
}
/* #one-body, #two-body, #three-body, #four-body, #five-body{
    background-color: black;
    color: white;
} */

